{
  "sourceType": "unambiguous",
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
    // "@emotion/babel-preset-css-prop"
  ],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "development": {
      "plugins": [
        // during Cypress tests we want to instrument source code
        // to get code coverage from tests
        "babel-plugin-istanbul",
        // we also want to export ES6 modules as objects
        // to allow mocking named imports
        [
          "@babel/plugin-transform-modules-commonjs",
          {
            "loose": true
          }
        ]
      ]
    }
  }
}
